@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="navbar-brand logo-header d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="~/img/DrawHub-logo.png" alt="DrawHub" class="me-2 logo-image">
</a>