@model Usuario
@using DrawHub.Enums

<link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />

<!-- Logo -->
<a class="navbar-brand logo-header d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
    DrawHub
</a>

<div class="collapse navbar-collapse" id="navbarContent">
    <!-- Primeira Lista (Links centralizados) -->
    <ul class="navbar-nav mx-auto navbar-estilo">
        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
        </li>

        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Desenho" asp-action="Index">Desenhos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
        </li>

        @if (Model != null && Model.Tipo == RoleEnum.Administrador)
        {
            <!-- Usuário é ADMIN -->
            <li class="nav-item">
                <a class="nav-link link-header" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
            </li>
        }
    </ul>

    <!-- Segunda Lista (Links à direita - Cadastrar/Entrar ou Sair) -->
    <ul class="navbar-nav ms-auto navbar-estilo">
        @if (Model != null)
        {
            <!-- Usuário logado -->
            <li class="nav-item">
                <a class="nav-link link-header" asp-area="" asp-controller="Desenho" asp-action="Criar">Publicar</a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-header" asp-area="" asp-controller="Desenho" asp-action="MeusDesenhos">Meus Desenhos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-header" asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
            </li>
        }
        else
        {
            <!-- Usuário não logado -->
            <li class="nav-item">
                <a class="nav-link link-header" asp-area="" asp-controller="Usuario" asp-action="Cadastrar">Cadastrar</a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-header" asp-area="" asp-controller="Login" asp-action="Index">Entrar</a>
            </li>
        }
    </ul>
</div>