@model Usuario
@using DrawHub.Enums

<a class="navbar-brand logo-header" asp-area="" asp-controller="Home" asp-action="Index">DrawHub</a>

<button class="navbar-toggler botao-menu" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

    <ul class="navbar-nav flex-grow-1">

        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
        </li>

        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Desenho" asp-action="Index">Desenhos</a>
        </li>

@if (Model != null && Model.Tipo == RoleEnum.Administrador)
{
    // Está logado e tem o tipo de Administrador
    <li class="nav-item">
        <a class="nav-link link-header" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
    </li>

    <li class="nav-item">
        <a class="nav-link link-header" asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
    </li>
}

@if (Model != null && Model.Tipo != RoleEnum.Administrador)
{
        // Está logado
        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Desenho" asp-action="MeusDesenhos">Meus Desenhos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Desenho" asp-action="Criar">Publicar</a>
        </li>

        <li class="nav-item">
            <a class="nav-link link-header" asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
        </li>
}

@if (Model == null)
{
        // Não está logado
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Cadastrar">Cadastrar</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Entrar</a>
        </li>
}
    </ul>
</div>

