html 
{
  font-size: 14px;
}

@media (min-width: 768px) 
{
  html 
  {
    font-size: 16px;
  }
}

html 
{
  position: relative;
  min-height: 100%;
}

body 
{
    background-image: url('https://img.freepik.com/vetores-gratis/padrao-plano-de-verao_23-2148947169.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

body::before 
{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: -1;
}

/* Estilização da Logo */
.logo 
{
    text-decoration: none !important;
    display: flex;
    align-items: center;
}

.logo-image 
{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.logo-image:hover 
{
    transform: scale(1.1);
}

/* Estilização da validação de erro */
.field-validation-error 
{ 
    color: #e01d1d; 
}