<link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />

<div class="container">
    <div class="footer-copyright">
        &copy; 2025 DrawHub - Todos os direitos reservados
    </div>
</div>